.graph {
  height: 100%;
  width: 100%;
}

.graph-component-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.graph-component-container .yfiles-canvascomponent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// Hide scrollbar
.yfiles-scrollbar {
  display: none;
}

/* Tooltips */
.yfiles-tooltip {
  background-color: #85a1c2;
  color: black;
  border-color: #85a1c2;
  border-radius: 5px;
  border-width: 2px;
  padding: 12px;
  font-weight: bold;
}
.yfiles-tooltip-entering {
  transition: opacity 0.2s ease-in;
}
.yfiles-tooltip-enter {
  opacity: 0;
}
.yfiles-tooltip-enter-to {
  opacity: 1;
}
.yfiles-tooltip-leaving {
  transition: opacity 0.2s ease-out;
}
.yfiles-tooltip-leave {
  opacity: 1;
}
.yfiles-tooltip-leave-to {
  opacity: 0;
}
