@mixin commonAlignment {
  padding-left: 8px;
  
}

.inspectorPane {
  flex: 0.3;
  background-color: var(--dark-sidePanelColor);
  padding: 16px 8px;
  -webkit-box-shadow: -10px 0px 10px -20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px 0px 10px -20px rgba(0, 0, 0, 0.75);
  box-shadow: -10px 0px 10px -20px rgba(0, 0, 0, 0.75);
  overflow: auto;
  margin-right: -50%;
  transition: margin-right 0.8s ease-in;

  &__header {
    font-weight: 500;
    margin: 0;
    font-size: 1.2rem;
  }
}

.properties {
  &__title {
    font-size: 16px;
    font-weight: bold;
  }
  &__value{
    margin-top: 2px;
    font-size: 14px;
    font-weight: 400;
  }
}
