.header {
  display: flex;
  background-color: var(--dark-secondarkColor);
  height: 3rem;
  width: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  padding-left: 12px;

  & h2 {
    font-weight: 400;
    font-size: 18px;
  }

  & input {
    margin-right: 30px;
    background-color: var(--dark-tertioryColor);
    border-radius: 12px;
    outline: none;
    color: gray;
    width: 40%;
    padding: 8px;
    padding-left: 12px;
    border-color: transparent;
  }

  & .undo-redo {
    display: flex;
    margin-left: auto;
    & span {
      cursor: pointer;
      background: #241f39;
      padding: 6px 10px;
      border-radius: 6px;
      margin-right: 4px;
      display: flex;
    align-items: center;
    }

    & span:hover {
      transform: scale(1.1);
      transition: transform 0.2s ease-in;
    }
  }
}
