.footer {
  display: flex;
  height: 2.5rem;
  width: 100%;
  background-color: var(--dark-secondarkColor);
  bottom: 0;
  position: fixed;
  align-items: center;
  justify-content: center;

  & span {
    cursor: pointer;
    padding: 0 12px;
  }

  & span:hover {
    transform: scale(1.1);
    transition: transform 200ms ease-in;
  }

  & span:nth-child(2) {
    margin-left: auto;
  }
}
